.downloadSection {
  padding: 50px 30px;
}

.download {
  text-align: center;
}

.txt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.req {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.reqContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  padding: 30px;
  border-radius: 15px;
}

.iframeWrapper {
  position: relative;
  width: 100%;
  max-width: 646px;
  margin: 0 auto;
}

.iframeWrapper iframe {
  width: 100%;
  height: 190px;
  border: none;
}

.title {
  padding: 0;
  margin: 0;
  text-align: start;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .req {
    flex-direction: column;
  }
}
