@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #391643;
  --secondary-bg-color: #4a1b57;
  --main-text-color: #fe8ab1;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

p,
span,
button,
li,
a,
h3 {
  font-family: "Roboto", serif;
}
